.table {
  width: 100%;
}
table {
  border-collapse: collapse;
  border: 2px solid black;
  background: rgb(233, 232, 232);
}
td,
th {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
}
input {
  width: 100px;
}
